body{
    background-color:blue;
    color:floralwhite;
}

.jumbotron{
    border: 2px #888;
    background-image:url(https://scontent.fcgk11-1.fna.fbcdn.net/v/t1.0-9/44569129_2000948099967944_4050581994705256448_n.jpg?_nc_cat=105&_nc_ht=scontent.fcgk11-1.fna&oh=e297f249f534c4eef995873d8d052f85&oe=5CF531CF);
}
ul{
/*    background:red;*/
    color:aqua;
}

.img-heading